/*header*/

.header{
    height: 160px;
    background-color: rgba(250,235,215,0.8);
    background-blend-mode: darken;
}

.logo{
    float:left;
    width:33%;
    height: 170px;
}

.logo img {
    width: 100px;
    height: 85px;
    border-radius: 10%;
    border: 5px solid blue;
    margin: 8% auto 8% 8%;
}

.middle {
    margin-top: 3%;
    text-align: center;
    width:33%;
    float: left;
}


.login{
    float: right;
    width:33%;
}

.form-login {
    width: 200px;
    float: right;
    margin: 5px;
}


.login-other-options{
    width: 140px;
    margin: 11% 5% auto 1%;
    text-align: center;
    float: right;

}

.login-inputs{
    margin: 1% 1% auto 5%;
    width: 200px;
    float: right;
    margin-right: 100px 300px 0 15px;
    text-align: center;
}

.login-other-options>a{
    text-decoration: none;
    color:black;
    cursor: pointer;
}


/*body*/

body {
    margin:0;
    background: url(img/background.jpg);
    background-size: 100%;
    background-attachment: fixed;
}

/*searchbar*/

.search-bar{
    margin: 70px 15% auto 15%;
    background: white;
    min-height: 100px;
    width: 70%;
}

.search-inputs>input{
    width: 40%;
    float: left;
    margin-top: 30px;
}



.search-inputs>input:first-of-type{
    margin-left: 25px;
}

.search-inputs>input:last-of-type{
    margin-left: 70px;
}

.search-inputs{
    width: 66%;
    height: 100px;
    float: left;
}

.search-button{
    width: 33%;
    float: right;
    margin-top: 30px;    
}


.search-button>button{
    margin: auto 33%;
    width: 33%;
}

/*lately-added*/

.lately-added{
    margin: 60px 15% 200px 15%;
    background: white;
    height: 200px;
    width: 70%;
}

.lately-added h3{
    height: 20%;
    margin: 0;
    text-align: center;
}

.lately-added-notice{
    width:29%;
    height: 80%;
    display: inline-block;
    margin: 0 2%;
}

/* footer*/

.footer{
    bottom: 0px;
    position: fixed;
    width: 100%;
    background-color: rgba(250,235,215,0.8);
    padding: 10px;
}

.footer>div{
    text-align: center;
}

.lately-added-notice>a{
    cursor: pointer;
}
/*utils*/

.button{
    background-color: blue;
}

.move-down-20px{
    margin-top: 20px;
}